body, html{
  font-family: 'Roboto Condensed', sans-serif;
}

.line {
  fill: none;
  stroke-width: 4px;
}

.map-hover{
  stroke: #333333;
  stroke-width: 3px;

}

.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22.6px;
  margin: 0;
  margin-bottom: -4px;
  padding: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F55861;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17.3px;
  width: 17.3px;
  left: 2.6px;
  bottom: 2.6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #399CFA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #399CFA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17.3px);
  -ms-transform: translateX(17.3px);
  transform: translateX(17.3px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}
