@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body{
  font-family: 'Roboto Condensed', sans-serif;

}

#tout_chart_container path{
	stroke:black;
	stroke-width:0.2;
}

.tooltip{
  z-index: 1000000;
}

svg{
  overflow: visible;
}
g{
  overflow: visible;
}

.map_label{
  font-size: 14px;

}

.map_label_small{
  font-size: 9px;
}

.description rect {
    stroke: #000;
    stroke-width:0.4px;
    fill: #fff;
    opacity: 1;
}

.description text{
  font-size: 18px;
  color: #aaa;
}
.toviz{
  text-align: center;
}
.hideconsti{
	fill-opacity:0;
}

.hidden{
  display: none;
}

.toggle_checkbox{
  margin-left: 10px;
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
}

.checkbox_label:hover > .toggle_checkbox{
  color: #777;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.position_toggle_container{
  margin-left: 10px;
  display: inline-block;
}
#year_dropdown{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
#year_dropdown > form > div{
  display: block;
}

.options_container{
    position: relative;
  bottom: 100px;
  margin-left: 40px;
  margin-bottom: 20px;
}